<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span *ngIf="activeBetsSize && activeBetsSize > 0">
    <ion-list class="list-style">
      <ion-item-sliding
        *ngFor="
      let data of activeBets;
      let i = index
    "
      >
        <ion-item (click)="updateBet(data, i)" class="bet-entry ion-no-padding">
          <ion-label>
            <p class="match-head">
              Match {{ data.matchNumber }}
              <span class="match-date">{{data.date}}</span>
            </p>

            <p class="teams-css">
              <span
                [ngClass]="teamMap[data.team1] === data.chosenTeam ? 'teamFor' : ''"
                >{{data.team1}}</span
              >
              vs
              <span
                [ngClass]="teamMap[data.team2] === data.chosenTeam ? 'teamFor' : ''"
                >{{data.team2}}</span
              >
            </p>

            <p class="values">
              Amount: {{data.amount}} {{data.currency}}
              <span class="ratio">ratio: {{data.ratio}} </span>
            </p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option
            color="danger"
            expandable
            (click)="delete(data.id, i)"
          >
            <ion-icon name="trash" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </span>

  <span *ngIf="activeBetsSize < 0 || activeBetsSize === 0">
    <div class="message-css">
      <div>No active Bets</div>
    </div>
  </span>
</ion-content>
