.bet-entry > ion-label {
  padding-right: 1rem;
  padding-left: 1rem;
}

.list-style {
  margin: 15px;
}

.match-head,
.teams-css,
.values {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.match-date,
.ratio {
  float: right;
}

.teams-css {
  text-align: center;
}

.teamFor {
  color: red;
}

.values {
  font-size: 15px;
  font-weight: normal;
}

.content {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  background: #131313;
  color: white;
}
