.fixtureStyle {
  background: gold;
  border: 1px solid var(--ion-color-dark);
  font-weight: bolder;
  letter-spacing: 4px;
  text-align: center;
  color: var(--ion-color-dark);
}

.cardTitle {
  font-size: 15px;
  text-align: left;
  padding: 10px;
}

.date {
  float: right;
}

.searchBar {
  background: #131313;
}

.labelHeader {
  margin-left: 25px;
  font-weight: bolder;
  color: var(--ion-color-dark);
  align-self: center;
}

.content-css {
  margin-top: 5px;
  margin-bottom: 5px;
}

.value-entry {
  padding-left: 20px;
  padding-right: 10px;
}

.ion-row-css {
  height: 45px;
}

.values {
  display: flex;
}

.select,
.save-button {
  padding: 5px;
}

.save-button {
  align-self: center;
}

.team-style {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-bottom: 10px;
}

.spinner-css {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: scale(1.5);
  background-color: var(--ion-color-light);
}
