.col {
  padding-right: 25px;
  padding-left: 25px;
}

.fixtureStyle {
  background: white;
  border: 1px solid black;
  font-weight: bolder;
  letter-spacing: 4px;
  text-align: center;
}

.cardTitle {
  font-size: 20px;
  text-align: center;
  background: #e2dc4a;
}
