.col {
  padding-right: 25px;
  padding-left: 25px;
}

.fixtureStyle {
  background: gold;
  border: 1px solid black;
  font-weight: bolder;
  letter-spacing: 4px;
  text-align: center;
  color: black;
}

.cardTitle {
  font-size: 15px;
  text-align: center;
}

.searchBar {
  background: #131313;
}

.labelHeader {
  margin-left: 25px;
  font-weight: bolder;
  color: black;
}

.inputStyle {
  align-self: center;
  margin-top: 20px;
}

.saveButton {
  margin-top: 40px;
  padding: 0px;
}

.content-css {
  margin-top: 5px;
  margin-bottom: 5px;
}
