.stat-value {
  text-align: center;
}

.stat-text,
.stat-value {
  font-size: 20px;
  font-weight: 500;
}

.won-css {
  background: red;
}

.lost-css {
  background: green;
}

.currency-filter {
  padding-bottom: 10px;
}
