.stat-value {
  text-align: center;
}

.stat-text,
.stat-value {
  font-size: 20px;
  font-weight: 500;
}

.won-css {
  background: var(--ion-color-success);
}

.lost-css {
  background: var(--ion-color-danger);
}

.currency-filter {
  padding-bottom: 10px;
}
