<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" class="toolbar-buttons">
      <button (click)="openStats()">
        <ion-icon name="stats-chart-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="appName1">Bet</div>
    <div class="appName2">Ledger</div>
    <div class="competitionName">IPL 2020</div>
  </div>

  <div class="button-container">
    <button class="control-button" (click)="goToFixture()">Add</button>
    <button class="control-button" (click)="goToUpdate()">Update</button>
    <button class="control-button" (click)="goToHistory()">History</button>
  </div>
</ion-content>
