ion-header ion-toolbar {
  --background: transparent;
}

.toolbar-buttons button {
  padding: 0;
  margin: 30px;
  background: transparent;
  outline: none;
}
.toolbar-buttons button ion-icon {
  font-size: 50px;
  color: var(--ion-color-light-shade);
}

.notification-button {
  position: relative;
}

.notifications-badge {
  background: var(--ion-color-danger);
  color: var(--ion-color-secondary-contrast);
  position: absolute;
  top: -3px;
  right: -5px;
  border-radius: 1000px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  min-width: 30px;
  padding-left: 4px;
  padding-right: 4px;
}

.container {
  min-height: 50%;
  background: #131313;
}

.appName1,
.appName2 {
  position: absolute;
  height: 50px;
  top: 150px;

  font-weight: bolder;
  font-size: 48px;

  display: flex;
  align-items: center;
  text-align: center;
}

.appName1 {
  width: 80px;
  left: 100px;
  color: var(--ion-color-success);
}

.appName2 {
  width: 150px;
  left: 175px;
  color: var(--ion-color-danger);
}

.button-container {
  height: 50%;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #131313;
}
