<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" class="toolbar-buttons">
      <button class="notification-button">
        <ion-icon name="file-tray-stacked-outline"></ion-icon>
        <span class="notifications-badge">1</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="appName1">Bet</div>
    <div class="appName2">Ledger</div>
  </div>

  <div class="button-container">
    <button class="control-button" (click)="goToFixture()">Fixture</button>
    <button class="control-button">Place Bet</button>
    <button class="control-button">History</button>
  </div>
</ion-content>
