<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="cancel()">cancel</ion-button>
  </ion-buttons>
  <ion-title>update bet</ion-title>
  <ion-buttons slot="end">
    <span
      *ngIf="updateEntry.result && updateEntry.result !== null"
      class="won-css"
    >
      <ion-button (click)="update()">save</ion-button>
    </span>
    <span *ngIf="!updateEntry.result" class="won-css">
      <ion-button (click)="save()">save</ion-button>
    </span>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-list class="list-style">
    <ion-row>
      <ion-col size="9">
        <ion-item class="ion-no-padding entry-item">
          <ion-icon slot="start" name="trending-up" size="medium"></ion-icon>
          <ion-label class="ion-select-label">Ratio</ion-label>
          <ion-select
            slot="end"
            interface="popover"
            placeholder="{{ updateEntry.ratioType }}"
            [(ngModel)]="updateEntry.ratioType"
            (ionChange)="amoutUpdate()"
          >
            <ion-select-option *ngFor="let val of ratio" [value]="val.value">
              {{ val.displayName }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="ion-no-padding entry-item">
          <ion-input
            class="ion-no-padding"
            type="number"
            [(ngModel)]="updateEntry.ratioValue"
            placeholder="ratio"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="9">
        <ion-item class="ion-no-padding entry-item">
          <ion-icon slot="start" name="trending-up" size="medium"></ion-icon>
          <ion-label class="ion-select-label">Amount</ion-label>
          <ion-select
            slot="end"
            interface="popover"
            placeholder="{{ updateEntry.currency }}"
            [(ngModel)]="updateEntry.currency"
          >
            <ion-select-option *ngFor="let c of currency" [value]="c.value">
              {{ c.displayName }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="ion-no-padding entry-item">
          <ion-input
            class="ion-no-padding"
            type="number"
            [(ngModel)]="updateEntry.amount"
            placeholder="amount"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="9">
        <ion-item class="ion-no-padding entry-item">
          <ion-icon slot="start" name="trophy-outline" size="medium"></ion-icon>
          <ion-label class="ion-select-label">Result</ion-label>
          <ion-select
            slot="end"
            interface="popover"
            [(ngModel)]="updateEntry.result"
            (ionChange)="amoutUpdate()"
          >
            <ion-select-option *ngFor="let val of result" [value]="val.value">
              {{ val.displayName }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="ion-no-padding entry-item">
          <ion-input
            class="ion-no-padding"
            type="number"
            [(ngModel)]="updateEntry.resultAmt"
            placeholder="updateEntry.resultAmt"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
